<footer>
  <section class="footer-bar">
    <div class="container">
      <article>
          <ul>
            <span>
              <h5>More Info</h5>
              <li><a href="http://cheat.errtheblog.com/s/factory_girl">Cheat Sheet</a></li>
              <li><a href="https://github.com/thoughtbot/factory_girl/wiki/Helpful-Links">Helpful Links</a></li>
              <li><a href="https://github.com/thoughtbot/factory_girl/wiki/Testing-all-Factories-%28with-RSpec%29">Testing All Factories</a></li>
            </span>
            <span class="overflow-columns">
              <li><a href="https://groups.google.com/forum/?fromgroups#!forum/factory_girl">Mailing List</a></li>
              <li><a href="http://rdoc.info/github/thoughtbot/factory_girl">RDocs</a></li>
              <li><a href="https://github.com/thoughtbot/factory_girl/issues">Issues</a></li>
            </span>
          </ul>
      </article>
      <article>
        <ul>
          <span>
            <h5>Contributors</h5>
            <li><p>Alex Sharp</p></li>
            <li><p>Eugene Bolshakov</p></li>
            <li><p>Jon Yurek</p></li>
          </span>
          <span class="overflow-columns">
            <li><p>Josh Nichols</p></li>
            <li><p>Josh Owens</p></li>
            <li><p>Nate Sutton</p></li>
          </span>
          <span class="overflow-columns">
            <li><p>Josh Clayton</p></li>
            <li><p>Thomas Walpole</p></li>
          </span>
        </ul>
      </article>
    </div>
  </section>
  <section class="container">
    <div class="logos">
      <a href="http://www.github.com" target="_blank"><img src="/images/github-logo_@2x.png" /></a>
      <a href="http://www.thoughtbot.com" target="_blank"><img src="/images/thoughtbot-logo_@2x.png" /></a>
    </div>
    <div class="copyright">
      <p>factory_girl is Copyright © 2008-2013 Joe Ferris and thoughtbot. It is free software, and may be redistributed under the terms specified in the LICENSE file. </p>
    </div>
    <div class="disclaimer">
      <p>factory_girl is maintained and funded by thoughtbot, inc. <br>
      Names and logos for thoughtbot are trademarks of thoughtbot, inc.</p>
    </div>
  </section>
</footer>