// Font
///////////////////////////////////////////////////////////////////////////
// Font-face
@include font-face(SourceSansPro, '/factory_girl-marketing/vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont', 200);
@include font-face(SourceSansPro, '/factory_girl-marketing/vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont', 400);
@include font-face(SourceSansPro, '/factory_girl-marketing/vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont', 600);

@include font-face(ChunkFiveRegular, '/factory_girl-marketing/vendor/fonts/Chunk_Five/Chunkfive-webfont');

@include font-face(Fontello, '/factory_girl-marketing/vendor/fonts/Fontello/fontello');

// Font-family
$logo-font-family: 'ChunkFiveRegular';
$base-font-family: 'SourceSansPro';

// Font-weight
$light: 200;
$regular: 400;
$semibold: 500;
$bold: 600;

// Font-size
$font-size: 1em;
$line-height: 1em;

// Colors
//////////////////////////////////////////////////////////////////////////
$light-yellow: #FCF9D5;
$dark-yellow: #FDB43E;
$blue: #3181c0;
$red: #e22b19;
$lightest-gray: #f7f7f7;

$background-color: $lightest-gray;
$logo-color: #0C376A;
$disclaimer-color: #cccccc;
$button-color-primary: $dark-yellow;
$button-color-primary-hover: darken($button-color-primary, 5%);
$accent-color: $red;
$border-color: #dddddd;
$border-radius: 5px;
$markup-border-color: $dark-yellow;
$markup-background-color: $light-yellow;
$footer-color: $lightest-gray;

// Misc
///////////////////////////////////////////////////////////////////////////
$padding: 10px;
$margin: 10px;
$z-index: 9999;
