/////////////////////////////////////////
// Styles for Documentation
/////////////////////////////////////////

header.top-bar{
  @include grunge;
  border-bottom: 1px solid $border-color;
  position: relative;
  
  div.logo {
    @include logo;
    @include span-columns(4);
    font-size: ($font-size * 1.35);
    margin: ($margin * 3) 0;
    padding-left: $padding;
  }
}

section.documentation {
  @include clearfix;

  aside.links {
    @include span-columns(4);
    margin-top: ($margin * 5);
    
    li {
      border-bottom: 1px solid #e3e3e3;
      line-height: $line-height * 2;
      margin-right: ($margin * 2);
      
      a:link, a:visited {
        //@include animation(color, 0.1s linear);
        border-right: $border-color 4px solid;
        color: #000;
        display: block;
        padding-left: $padding * 2;
        @include transition(color, 0.1s linear);
        @include transition(border-left, 0.1 ease-in-out);

        &:hover, &:active {
          border-right: $accent-color 4px solid;
          color: $accent-color;
          text-decoration: none;
        }
      }

      h3 {
        line-height: 1em;
        font-weight: $semibold;
        padding: 10px 0;
      } 
    }

    li:last-child {
      border-bottom: 0px;
    }
  }

  article.explanation {
    @include span-columns(8);
    min-height: 750px;
    margin-top: ($margin * 2);
    padding: 0 ($padding * 2) ($padding * 50) 0;
    position: relative;

    h1 {
      border-bottom: $border-color 1px solid;
      color: $accent-color;
      margin: ($margin * 2) 0;
    }

    p {
      padding: $padding 0;
    }
    
    .markup {
      @include markup-container;
    }

    div.hero-transparent {
      @include hero;
      @include shift (6);
      @include span-columns(4 of 8);

      img {
        @include transform(scaleX(-1));
        opacity: 0.5;
      }
    }
  }
}


