@mixin logo {  
  h1.main-title {
    color: $logo-color;
    display: inline-block;
    font-family: $logo-font-family;
    line-height: $line-height;
    text-shadow: 0 1px #fff, 0 -1px #000;
    @include icon(star, before);
    @include icon(star, after);
    z-index: -999;

    span {
      letter-spacing: 4px;
    }

    a {
      color: $logo-color;
    }

    a:hover {
      color: darken($logo-color, 4%);
      text-decoration: none;
    }
  }
}

@mixin icon($icon, $position:before) {
  &:#{$position} {
    @extend %#{$icon};
    display: inline-block;
    font-family: 'fontello';
    font-size: ($font-size * .5);
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    vertical-align: middle;

    @if($position == before) {
      margin-right: 0.2em;
    } @else {
      margin-left: 0.2em;
    }
  }
}

@mixin hero {
  line-height: 0;
  position: absolute;
  bottom: 0;

  img {
    height: 100%;
    width: 100%;
    display: block;
  }
}

@mixin markup-container {
  border: 1px solid $markup-border-color;
  font-family: monospace;
  font-size: $font-size * .9;
  margin-bottom: 10px;
  
  .highlight {
    padding: ($padding * 1.5) ($padding * 3);
  }
}
