* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hll {
  background-color: #ffffcc; }

.c {
  color: #408080;
  font-style: italic; }

/* Comment */
.err {
  border: 1px solid red; }

/* Error */
.k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
.o {
  color: #666666; }

/* Operator */
.cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #bc7a00; }

/* Comment.Preproc */
.c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
.gd {
  color: #a00000; }

/* Generic.Deleted */
.ge {
  font-style: italic; }

/* Generic.Emph */
.gr {
  color: red; }

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.gi {
  color: #00a000; }

/* Generic.Inserted */
.go {
  color: #888888; }

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.gt {
  color: #0044dd; }

/* Generic.Traceback */
.kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
.kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
.kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
.kp {
  color: green; }

/* Keyword.Pseudo */
.kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
.kt {
  color: #b00040; }

/* Keyword.Type */
.m {
  color: #666666; }

/* Literal.Number */
.s {
  color: #ba2121; }

/* Literal.String */
.na {
  color: #7d9029; }

/* Name.Attribute */
.nb {
  color: green; }

/* Name.Builtin */
.nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
.no {
  color: #880000; }

/* Name.Constant */
.nd {
  color: #aa22ff; }

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.nf {
  color: blue; }

/* Name.Function */
.nl {
  color: #a0a000; }

/* Name.Label */
.nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.nv {
  color: #19177c; }

/* Name.Variable */
.ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
.mf {
  color: #666666; }

/* Literal.Number.Float */
.mh {
  color: #666666; }

/* Literal.Number.Hex */
.mi {
  color: #666666; }

/* Literal.Number.Integer */
.mo {
  color: #666666; }

/* Literal.Number.Oct */
.sb {
  color: #ba2121; }

/* Literal.String.Backtick */
.sc {
  color: #ba2121; }

/* Literal.String.Char */
.sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
.s2 {
  color: #ba2121; }

/* Literal.String.Double */
.se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.sh {
  color: #ba2121; }

/* Literal.String.Heredoc */
.si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.sx {
  color: green; }

/* Literal.String.Other */
.sr {
  color: #bb6688; }

/* Literal.String.Regex */
.s1 {
  color: #ba2121; }

/* Literal.String.Single */
.ss {
  color: #19177c; }

/* Literal.String.Symbol */
.bp {
  color: green; }

/* Name.Builtin.Pseudo */
.vc {
  color: #19177c; }

/* Name.Variable.Class */
.vg {
  color: #19177c; }

/* Name.Variable.Global */
.vi {
  color: #19177c; }

/* Name.Variable.Instance */
.il {
  color: #666666; }

/* Literal.Number.Integer.Long */
.highlight {
  color: #657b83;
  background-color: #fdf6e3; }

.highlight .err {
  color: #dc322f;
  background-color: #eee8d5; }

.highlight .cp {
  color: #93a1a1;
  font-weight: bold; }

.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  background-color: #fdd; }

.highlight .gd .x {
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gi {
  background-color: #dfd; }

.highlight .gi .x {
  background-color: #afa; }

.highlight .go {
  color: #657b83; }

.highlight .gu {
  color: #d33682;
  font-weight: bold; }

.highlight .gs {
  font-weight: bold; }

.highlight .gr, .highlight .gt {
  color: #d33682; }

.highlight .gh {
  color: #93a1a1; }

.highlight .gp {
  color: #93a1a1; }

.highlight .nb {
  color: #859900; }

.highlight .ni {
  color: #d33682; }

.highlight .nt {
  color: #268bd2; }

.highlight .w {
  color: #93a1a1; }

.highlight .sr {
  color: #859900; }

.highlight .ss {
  color: #2aa198; }

.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold; }

.highlight .k {
  color: #859900; }

.highlight .kt {
  color: #b58900; }

.highlight .bp {
  color: #586e75; }

.highlight .nn {
  color: #586e75; }

.highlight .nc {
  color: #b58900;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198; }

.highlight .na, .highlight .nv {
  color: #2aa198; }

.highlight .no {
  color: #b58900; }

.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2; }

.highlight .ne, .highlight .nf {
  color: #dc322f;
  font-weight: bold; }

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  font-style: normal;
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont.eot");
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont.woff") format("woff"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont.ttf") format("truetype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Light-webfont.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  font-style: normal;
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont.eot");
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont.woff") format("woff"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Regular-webfont.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  font-style: normal;
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont.eot");
  src: url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont.woff") format("woff"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont.ttf") format("truetype"), url("../../vendor/fonts/Source_Sans_Pro/SourceSansPro-Semibold-webfont.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: ChunkFiveRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../../vendor/fonts/Chunk_Five/Chunkfive-webfont.eot");
  src: url("../../vendor/fonts/Chunk_Five/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../../vendor/fonts/Chunk_Five/Chunkfive-webfont.woff") format("woff"), url("../../vendor/fonts/Chunk_Five/Chunkfive-webfont.ttf") format("truetype"), url("../../vendor/fonts/Chunk_Five/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg"); }

@font-face {
  font-family: Fontello;
  font-weight: normal;
  font-style: normal;
  src: url("../../vendor/fonts/Fontello/fontello.eot");
  src: url("../../vendor/fonts/Fontello/fontello.eot?#iefix") format("embedded-opentype"), url("../../vendor/fonts/Fontello/fontello.woff") format("woff"), url("../../vendor/fonts/Fontello/fontello.ttf") format("truetype"), url("../../vendor/fonts/Fontello/fontello.svg#Fontello") format("svg"); }

body, html {
  font-size: 18px; }

body {
  font-family: "SourceSansPro";
  font-size: 100%;
  min-width: 900px;
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-family: "SourceSansPro";
  line-height: 1.5em;
  font-weight: 200; }

h1, h2 {
  font-size: 2em; }

h4 {
  font-size: 1.3em; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em; }

i {
  text-transform: italic; }

a {
  color: #e22b19;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:hover.button {
    text-decoration: none; }

li {
  font-family: "SourceSansPro";
  font-weight: 200;
  line-height: 1.5em; }

code {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 1em; }

::selection {
  background: rgba(226, 43, 25, 0.3);
  color: black; }

::-moz-selection {
  background: rgba(226, 43, 25, 0.3); }

.button {
  border: none;
  color: white;
  font-size: 1.2em;
  height: 54px;
  text-align: center; }

header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  position: relative; }

footer .footer-bar {
  background-color: #f7f7f7;
  border: #dddddd 1px solid;
  padding: 20px 0; }
footer article {
  margin-left: 8.5298%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  display: inline-block; }
  footer article:last-child {
    margin-right: 0; }
  footer article span {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 17.13707%;
    display: inline-block;
    margin-top: 27px; }
    footer article span:last-child {
      margin-right: 0; }
    footer article span:first-child {
      margin-top: 0; }
footer .logos {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  footer .logos:last-child {
    margin-right: 0; }
  footer .logos img {
    display: inline-block;
    float: left;
    height: 50%;
    opacity: 0.6;
    width: 50%;
    padding: 25px 10px 0 10px; }
    footer .logos img:hover {
      opacity: 1; }
    footer .logos img:active {
      opacity: 0.6; }
footer .copyright {
  color: #cccccc;
  font-size: 0.8em;
  line-height: 0.8em;
  padding: 60px 0;
  text-align: center; }
  footer .copyright span {
    margin-left: 25.58941%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .copyright span:last-child {
      margin-right: 0; }
  footer .copyright p {
    line-height: 0.9; }
footer h5 {
  font-family: "SourceSansPro";
  font-size: 1em;
  font-weight: 600; }
footer a {
  color: #000; }
footer li {
  font-size: 0.9em;
  line-height: 2em; }

header section.wrapper .intro-information h1.main-title:before, header section.wrapper .intro-information h1.main-title:after, header section.wrapper .intro-information .bullet-features ul li:before, header div.logo h1.main-title:before, header div.logo h1.main-title:after {
  content: '\2605';
  text-shadow: 0 0 #fff;
  vertical-align: middle; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

header .thought-shadow img {
  opacity: 0.7;
  width: 100%; }
header section.wrapper {
  *zoom: 1;
  position: relative; }
  header section.wrapper:before, header section.wrapper:after {
    content: " ";
    display: table; }
  header section.wrapper:after {
    clear: both; }
  header section.wrapper .intro-information {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 91.4702%; }
    header section.wrapper .intro-information:last-child {
      margin-right: 0; }
    header section.wrapper .intro-information h1.main-title {
      color: #0c376a;
      display: inline-block;
      font-family: "ChunkFiveRegular";
      line-height: 1em;
      text-shadow: 0 1px #fff, 0 -1px #000;
      z-index: -999; }
      header section.wrapper .intro-information h1.main-title:before {
        display: inline-block;
        font-family: 'fontello';
        font-size: 0.5em;
        font-style: normal;
        font-weight: normal;
        speak: none;
        text-align: center;
        text-decoration: inherit;
        vertical-align: middle;
        margin-right: 0.2em; }
      header section.wrapper .intro-information h1.main-title:after {
        display: inline-block;
        font-family: 'fontello';
        font-size: 0.5em;
        font-style: normal;
        font-weight: normal;
        speak: none;
        text-align: center;
        text-decoration: inherit;
        vertical-align: middle;
        margin-left: 0.2em; }
      header section.wrapper .intro-information h1.main-title span {
        letter-spacing: 4px; }
      header section.wrapper .intro-information h1.main-title a {
        color: #0c376a; }
      header section.wrapper .intro-information h1.main-title a:hover {
        color: #0a2d58;
        text-decoration: none; }
    header section.wrapper .intro-information h1.main-title {
      font-size: 6.75em;
      margin-left: 20px;
      margin-right: 40px; }
    header section.wrapper .intro-information .sub-title {
      margin-left: 8.5298%;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 91.4702%;
      color: #e22b19;
      padding: 10px 57px 0 0; }
      header section.wrapper .intro-information .sub-title:last-child {
        margin-right: 0; }
    header section.wrapper .intro-information .bullet-features {
      margin-left: 8.5298%;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 82.94039%; }
      header section.wrapper .intro-information .bullet-features:last-child {
        margin-right: 0; }
      header section.wrapper .intro-information .bullet-features ul {
        padding: 20px 0 30px 0; }
        header section.wrapper .intro-information .bullet-features ul li {
          font-size: 1.1em;
          line-height: 1.8em; }
          header section.wrapper .intro-information .bullet-features ul li:before {
            display: inline-block;
            font-family: 'fontello';
            font-size: 0.5em;
            font-style: normal;
            font-weight: normal;
            speak: none;
            text-align: center;
            text-decoration: inherit;
            vertical-align: middle;
            margin-right: 0.2em; }
      header section.wrapper .intro-information .bullet-features a.read-documentation {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%;
        background-color: #fdb43e;
        color: #fff;
        border-radius: 5px;
        border: 1px solid #ec9302;
        height: 55px;
        font-size: 1.2em;
        margin-bottom: 50px;
        padding-top: 15px;
        text-align: center;
        text-shadow: 0px 1px 1px #d38302; }
        header section.wrapper .intro-information .bullet-features a.read-documentation:last-child {
          margin-right: 0; }
        header section.wrapper .intro-information .bullet-features a.read-documentation:hover {
          background-color: #fdaa25;
          border-radius: 5px;
          text-decoration: none;
          text-shadow: 0px 1px 1px #a06402; }
        header section.wrapper .intro-information .bullet-features a.read-documentation:active {
          -webkit-box-shadow: inset 0 0 12px 3px #ec9302;
          box-shadow: inset 0 0 12px 3px #ec9302; }
  header section.wrapper .hero {
    line-height: 0;
    position: absolute;
    bottom: 0;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 68.23843%;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1); }
    header section.wrapper .hero img {
      height: 100%;
      width: 100%;
      display: block; }
    header section.wrapper .hero:last-child {
      margin-right: 0; }

.installation-wrapper {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 8.5298%;
  padding: 80px 0 90px 0; }
  .installation-wrapper:last-child {
    margin-right: 0; }
  .installation-wrapper .easy-installation {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-right: 0; }
    .installation-wrapper .easy-installation:last-child {
      margin-right: 0; }
  .installation-wrapper .view-on-Github {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 22.316%;
    text-align: right; }
    .installation-wrapper .view-on-Github:last-child {
      margin-right: 0; }
  .installation-wrapper .markup-wrapper {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 100%; }
    .installation-wrapper .markup-wrapper:last-child {
      margin-right: 0; }
    .installation-wrapper .markup-wrapper .markup {
      background-color: #fcf9d5;
      border: 1px solid #fdb43e;
      font-family: monospace;
      font-size: 0.9em;
      margin-bottom: 10px;
      padding: 15px 30px; }

header div.logo {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  font-size: 1.35em;
  margin: 30px 0;
  padding-left: 10px; }
  header div.logo h1.main-title {
    color: #0c376a;
    display: inline-block;
    font-family: "ChunkFiveRegular";
    line-height: 1em;
    text-shadow: 0 1px #fff, 0 -1px #000;
    z-index: -999; }
    header div.logo h1.main-title:before {
      display: inline-block;
      font-family: 'fontello';
      font-size: 0.5em;
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-align: center;
      text-decoration: inherit;
      vertical-align: middle;
      margin-right: 0.2em; }
    header div.logo h1.main-title:after {
      display: inline-block;
      font-family: 'fontello';
      font-size: 0.5em;
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-align: center;
      text-decoration: inherit;
      vertical-align: middle;
      margin-left: 0.2em; }
    header div.logo h1.main-title span {
      letter-spacing: 4px; }
    header div.logo h1.main-title a {
      color: #0c376a; }
    header div.logo h1.main-title a:hover {
      color: #0a2d58;
      text-decoration: none; }
  header div.logo:last-child {
    margin-right: 0; }

section.documentation {
  *zoom: 1; }
  section.documentation:before, section.documentation:after {
    content: " ";
    display: table; }
  section.documentation:after {
    clear: both; }
  section.documentation aside.links {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-top: 50px; }
    section.documentation aside.links:last-child {
      margin-right: 0; }
    section.documentation aside.links li {
      border-bottom: 1px solid #e3e3e3;
      line-height: 2em;
      margin-right: 20px; }
      section.documentation aside.links li a:link, section.documentation aside.links li a:visited {
        border-right: #dddddd 4px solid;
        color: #000;
        display: block;
        padding-left: 20px;
        -webkit-transition: color, 0.1s linear;
        -moz-transition: color, 0.1s linear;
        -ms-transition: color, 0.1s linear;
        -o-transition: color, 0.1s linear;
        transition: color, 0.1s linear;
        -webkit-transition: border-left, 0.1 ease-in-out;
        -moz-transition: border-left, 0.1 ease-in-out;
        -ms-transition: border-left, 0.1 ease-in-out;
        -o-transition: border-left, 0.1 ease-in-out;
        transition: border-left, 0.1 ease-in-out; }
        section.documentation aside.links li a:link:hover, section.documentation aside.links li a:link:active, section.documentation aside.links li a:visited:hover, section.documentation aside.links li a:visited:active {
          border-right: #e22b19 4px solid;
          color: #e22b19;
          text-decoration: none; }
      section.documentation aside.links li h3 {
        line-height: 1em;
        font-weight: 500;
        padding: 10px 0; }
    section.documentation aside.links li:last-child {
      border-bottom: 0px; }
  section.documentation article.explanation {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    min-height: 750px;
    margin-top: 20px;
    padding: 0 20px 500px 0;
    position: relative; }
    section.documentation article.explanation:last-child {
      margin-right: 0; }
    section.documentation article.explanation h1 {
      border-bottom: #dddddd 1px solid;
      color: #e22b19;
      margin: 20px 0; }
    section.documentation article.explanation p {
      padding: 10px 0; }
    section.documentation article.explanation .markup {
      background-color: #fcf9d5;
      border: 1px solid #fdb43e;
      font-family: monospace;
      font-size: 0.9em;
      margin-bottom: 10px;
      padding: 15px 30px; }
    section.documentation article.explanation div.hero-transparent {
      line-height: 0;
      position: absolute;
      bottom: 0;
      margin-left: 51.17883%;
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      section.documentation article.explanation div.hero-transparent img {
        height: 100%;
        width: 100%;
        display: block; }
      section.documentation article.explanation div.hero-transparent:last-child {
        margin-right: 0; }
      section.documentation article.explanation div.hero-transparent img {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        opacity: 0.5; }
